.swiper {
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: #f7faf7;
}
html.dark .swiper {
    background-color: #2d3748;
    color: #2d3748;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.swiper-button-next, .swiper-button-prev {
    color: #4CAF50;
    padding: 0 15px;
    --swiper-navigation-size: 30px;
}
html.dark .swiper-button-next, html.dark .swiper-button-prev {
    color: #FFA000;
}
.swiper-pagination-bullet-active {
    background: #4CAF50;
}
html.dark .swiper-pagination-bullet-active {
    background: #FFA000;
}

html, body {
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
#theme-toggle-button svg {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.tree-details {
    transition: max-height 0.7s ease-in-out, padding-top 0.7s ease-in-out, padding-bottom 0.7s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.tree-details.max-h-\[9999px\] {
    opacity: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}